/* import fonts  */
@import 'https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;1,200;1,300;1,400;1,700&display=swap';

/* tailwind css  */

@import url(./tailwind-utilities.css);

/* global css  */

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --text-white: #2c2c2c;
  --text-color-1: #000;
  --color-red: #ec1839;
  --border-clr: #ccc;
  --shadow-1: rgba(0, 0, 0, 0.19);
  --shadow-2: rgba(48, 46, 77, 0.15);
  --shadow-clr-dark: rgba(0, 0, 0, 0.23);
  --shadow-white-clr: #fff;
}
body.dark {
  --bg-black-900: #333;
  --bg-d: #183153;
  --bg-black-100: #222;
  --bg-black-50: #393939;
  --text-black-900: #fff;
  --text-black-700: #e9e9e9;
  --text-white: #000;
  --text-color-1: #fff;
  --border-clr: #1a1818;
  --shadow-1: rgba(2, 1, 1, 0.824);
  --shadow-2: rgba(163, 158, 235, 0.15);
  --shadow-clr-dark: rgba(9, 9, 9, 0.23);
  --shadow-white-clr: #0000005e;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-display: Poppins sans-serif;
  background: var(--bg-black-900);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.main-content {
  padding-left: 270px;
  overflow-x: hidden;
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  transition: all 0.3s ease;
}
.hidden {
  display: none !important;
}
.container,
.drop {
  width: 100%;
  margin: auto;
}
.section .container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section.pageSection {
  padding-top: 60px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
  padding-left: 40px;
  margin-top: 25px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 70px;
}
.section-title h2::after {
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  margin-left: 70px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 14px 30px;
  color: #fff;
  border-radius: 1px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  margin-left: 70px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

h3,
p {
  padding-left: 13px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: red;
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--text-white);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}
#preloader:before,
#preloader:after {
  content: '';
  position: absolute;
  border: 4px solid #ec1839;
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#preloader:after {
  animation-delay: -0.5s;
}
@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}
.main-content {
  padding-left: 0;
}
@media (max-width: 1199px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 629px) {
  .section .container {
    margin: 0 5px;
  }
  .main-content {
    margin-left: 0;
  }
  .cv-btn {
    margin-top: -15px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .cv-btn .btn,
  .hire-me {
    padding: 10px 15px;
  }
}

.col6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 10px;
}
.col12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 10px;
}

@media (max-width: 970px) {
  .col6,
  .col12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
  }
}

/* min nav header  */

.min-nav {
  display: flex;
  position: relative;
  gap: 5px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.min-nav .home-link a {
  color: var(--skin-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.min-nav span,
.min-nav .text {
  color: var(--text-color-1);
}
.min-nav span {
  margin-top: -1px;
  font-size: 20px;
  font-weight: bold;
}
