.contact {
  max-width: 1200px;
  margin: 0 auto;
}

.contact .container {
  align-items: normal;
}
.contactTitle {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contactSubTitle {
  color: var(--text-black-900);
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px;
}
.contact .contactSt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
.contact .contactInfoItem svg {
  font-size: 25px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.contact .contactInfoItem:hover .socialLinks > li svg {
  color: #87ceeb;
}
.contact .contactInfoItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}
.contact .contactInfoItem .icon {
  display: inline-block;
}
.contact .contactInfoItem h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contactInfoItem p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.form{
  width: 95%;
}
.form form {
  display: flex;
  flex: 0 0 100%;
}
.alert {
  display: flex;
  position: relative;
  margin: 15px;
  align-items: center;
}
.formInfo {
  position: relative;
  display: flex;
  background-color: var(--bg-d);
  color: var(--text-color-1);
  height: 35px;
  font-size: 15px;
  font-weight: 500;
  border-left: 4px solid green;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  align-items: center;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
.showAlert.formInfo {
  opacity: 1;
  visibility: visible;
}
.loader {
  position: absolute;
  right: 0;
  top: 10px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  visibility: hidden;
  opacity: 0;
}
.showLoader.loader {
  opacity: 1;
  visibility: visible;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contact .contactForm {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contactForm .formItem {
  margin-bottom: 25px;
}
.contact .contactForm .formItem .formControl {
  width: 100%;
  height: 50px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 5px 20px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.13s ease;
}
.contact .contactForm .formItem .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0, 15);
}
.contact .contactForm .formItem textarea.formControl {
  height: 130px;
}
.contact .contactForm .btn {
  height: 50px;
  padding: 0 35px;
  margin-left: 0;
}

@media (max-width: 650px) {
  .contact .contactSt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 629px) {
  .contactTitle,
  .contactSubTitle {
    font-size: 20px;
  }
  .contact .contactForm .formItem .formControl {
    font-size: 14px;
    height: 40px;
  }
  .contact .contactForm .btn {
    height: 40px;
    padding: 0 30px;
    margin-left: 5px;
  }
  .form{
  width: 100%;
}
}
@media (max-width: 530px) {
  .contactSt {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: -20px;
  }
  .contact .contactInfoItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .service-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
