.about {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.about .aboutContent .aboutText p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-black-700);
}
.about .aboutContent .wrapper {
  margin-left: -10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.about .aboutContent .personalInfo {
  margin-left: 15px;
  padding: 0 20px;
  margin-top: -10px;
}
.about .aboutContent .personalInfo .infoItem {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .aboutContent .personalInfo .infoItem p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--skin-color);
}
.about .aboutContent .personalInfo .infoItem p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.tab {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--skin-color);
  margin-top: 20px;
}

.content {
  border: 1px solid #bbb;
  min-height: 200px;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 500px) {
  .about .aboutContent .wrapper {
    margin-bottom: 20px;
  }
  .content {
    width: 110%;
    margin-left: -20px;
  }
}

.about .aboutContent .timeline .timelineItem:last-child {
  padding-bottom: 0;
}
.about .aboutContent .timeline .timelineItem:before {
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about .aboutContent .timeline .circleDot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.about .aboutContent .education,
.about .aboutContent .experience {
  width: 100%;
  height: 100%;
}
.timelineRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  margin-top: 30px;
}
@media screen and (max-width: 890px) {
  .timelineRow {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px 10px 0;
  }
}
.about .aboutContent .timelineBox {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .aboutContent .timeline {
  padding: 30px 8px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  width: 100%;
  position: relative;
}
.about .aboutContent .timeline .timelineItem {
  position: relative;
  padding: 0 5px;
}
.about .aboutContent .timeline .timelineItem h4 {
  padding-left: 13px;
}
.about .aboutContent .timeline .timelineDate {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--skin-color);
  text-transform: capitalize;
}
.about .aboutContent .timeline .timelineDate .fa {
  margin-right: 5px;
}
.timeline-title {
  color: blue;
}
.about .aboutContent .timeline .timelineText {
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
  margin-top: 0;
  color: var(--text-black-700);
  padding: 10px;
}

@media (max-width: 893px) {
  .about .aboutContent .skills {
    width: 100%;
    margin-left: 0;
  }
  .about .aboutContent .skills .skillItem h5 {
    margin-left: 20px;
  }
  .about .aboutContent .skills .skillItem .skillPercent {
    margin-right: 60px;
  }
  .about .aboutContent .skills .skillItem .progress {
    margin-left: 5px;
    margin-right: 10px;
  }
}

@media (max-width: 629px) {
  .about .aboutContent .aboutText p,
  .about .aboutContent .timeline .timelineDate {
    font-size: 15px;
  }
  .about .aboutContent .personalInfo .infoItem p {
    font-size: 14px;
  }
  .skillItem h5,
  .skillPercent {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .about .aboutContent .skills .skillItem .progress {
    height: 4px;
  }
  .about .aboutContent h3.title {
    font-size: 22px;
    margin-left: -30px;
    font-weight: 800;
  }
  .about .aboutContent .personalInfo {
    padding: 0;
  }
  .about .aboutContent .wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: -30px;
  }
  .about .aboutContent .skills {
    margin-left: 15px;
    padding: 0;
  }
  .about .aboutContent .timeline .timelineItem {
    padding: 2px 5px;
  }
  .about .aboutContent .timeline .circle-dot {
    position: absolute;
    left: 3px;
    height: 10px;
    width: 10px;
  }
  .about .aboutContent .timeline .timelineText {
    line-height: 26px;
    font-size: 13px;
    text-align: start;
    justify-content: start;
  }

  .skillItem h5,
  .skillPercent {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
