.section {
  margin: 0 -30px;
  overflow-y: hidden;
}
.container {
  max-width: 1200px;
  position: relative;
  top: 60px;
  margin: 0 auto;
}

.section .container {
  margin: 0 auto;
}
.info {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transform: all 0.3s ease;
}
.info .image {
  display: flex;
  justify-content: center;
  flex: 0 0 60%;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  opacity: 0.89;
  transform: all 0.3s ease;
  background: var(--shadow-white-clr);
}
@media screen and (max-width: 1220px) {
  .info {
    padding: 10px;
  }
  .info .image {
    flex: 0 0 100%;
  }
  .info .image img {
    width: 100%;
    object-fit: contain;
  }
}

.info .image img {
  padding: 10px;
  border-radius: 5px;
}
.info .image:hover {
  opacity: 1;
  cursor: pointer;
}

.info .desc {
  padding: 20px;
  background: var(--shadow-white-clr);
}

.info .desc .title {
  display: flex;
  justify-content: start;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-black-900);
}
.info .desc .body {
  display: flex;
  justify-content: start;
  line-height: 26px;
  color: var(--text-black-700);
  font-size: 16px;
}
.info .desc .links {
  display: flex;
  margin-top: 25px;
  row-gap: 10px;
  margin-bottom: 30px;
  align-items: center;
}
.links a {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--text-black-700);
  margin-left: 15px;
}

.links a span svg {
  fill: var(--skin-color);
}
.stack {
  margin-top: 10px;
  padding: 0 15px;
}

.stack h3 {
  color: var(--text-black-700);
  font-size: 15px;
}
